.color-primary {
    color: $color-primary !important;
}

.bg-primary {
    background: $color-primary !important;
}

.color-secondary {
    color: $color-secondary !important;
}

.bg-secondary {
    background: $color-secondary !important;
}

.color-yellow {
    color: $color-yellow !important;
}

.bg-yellow {
    background: $color-yellow !important;
}