// Typography

.font-baloo {
    font-family: $font-baloo !important;
}

.font-rale {
    font-family: $font-raleway !important;
}

.font-rubik {
    font-family: $font-rubik !important;
}


.f-s-12 {
    font-size: 12px !important;
}

.f-s-14 {
    font-size: 14px !important;
}

.f-s-16 {
    font-size: 16px !important;
}

.f-s-20 {
    font-size: 20px !important;
}