#special-price {
   .grid .item{
       width: 200px !important;
   }

   .container #filters {
       margin-left: 53% !important;
   }

   .container #filters .btn-secondary {
       background-color: transparent;
       color: #555;
       border-color: transparent;
   }
}